@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
@font-face {
    font-family: font;
    src: url('../fonts/BebasKai-Regular.otf');
}
body {
    background-color: rgba(144, 161, 184, 0.857);
    margin:0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

div#newsletter  {
    background-image: url("../images/crop_logo2.png");
    background-repeat: no-repeat;
    background-size:38%;
    background-position: right center;
    margin-top: 4vw;
    font-family:Montserrat, Arial, Helvetica, sans-serif;
}

#inside-newsletter {
    margin: 11vw 0;
    margin-left: 6vw;
    width:40%;
}

#inside-newsletter h1 {
    font-size:3vw;
    margin-bottom:3vw;
    color: rgba(165, 216, 255, 0.652);
}

#inside-newsletter h3 {
    font-size:1.5vw;
    margin-bottom:0.7vw;
    color: white;
}

#inside-newsletter p {
    font-size:1.2vw;
    color: white;
}

/* styles for email input box */
#email {
    border: none;
    border-bottom: 2px solid rgb(187, 187, 187);
    width:15vw;
    height: 2.3vw; 
    margin-right: 1.5vw; 
    margin-top:1.3vw;
    font-size: 1.2vw;
    color: gray;
}

/* remove outline when focus */
#email:focus {
    outline: none;
}

/* style the join button */
#join {
    border: none;
    border-bottom: 2px solid rgb(187, 187, 187);
    width:15vw;
    height: 3vw; 
    margin-right: 1.5vw; 
    margin-top: 2vw;
    font-size: 1.2vw;
    color: white;
    background-color:rgb(29, 61, 121);
}

#join:hover {
    background-color:rgb(20, 40, 78);
}

